{% extends "base.html" %}

{% block content %}
<div class="loading-container">
    <h2>Processing Your Data...</h2>
    <p class="loading-message">Please wait while we process your file. Almost there!</p>
    <div class="progress cute-progress-bar">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="spinner-border text-primary cute-spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script>
    setTimeout(function() {
        windown.location.href = "{{ url_for('process_file') }}";
    }, 2000);
</script>
{% endblock %}
